<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="travelpayouts test app"
    />
    <link rel="stylesheet" href="form.css">
    <title>travelpayouts test app</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class='form'>
        <h1>Where does it come from? Why do we use it?</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <div class='buttonsBlock'>
            <input onchange="this.classList.toggle('has-value',this.value);" type='date' placeholder='Depart date'/>
            <input onchange="this.classList.toggle('has-value',this.value);" type='date' placeholder='Return date' />   
            <button class='search'>SEARCH</button> 
        </div>
    </div>
  </body>
</html>
